.about{
background-image: url(./pic2.jpg);
background-size: cover;
/* background-repeat: no-repeat; */
background-size: 100vh fixed;
background-size: cover;
height: 100vh;
/* width: 100vh; */
}

.about-p{
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 1.8em;
    padding: 250px;
    padding-right: 100px;
}