.main {
background-color: rgb(240, 241, 242);
opacity: 90%;
}

.profile {
  font-family: sans-serif;
  text-align: center;
  width: 1000px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 30px 30px;
  margin-left: 250px;
  
} 

.image {
  max-width: 650px;
  height: 400px;
  object-fit: cover;
  border-radius: 10%;
  margin: 0 auto 20px auto
}

.name {
  font-size: 1.2em;
  font-weight: bold; 
}
.date {
  margin-bottom: 10px;
}



.map { 
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .participants{
    margin-left: 200px;
  }


  /* 
            {/* <h4>Created By: {this.state.host.username}</h4>
                        <p><strong>About: </strong><br />{this.state.activity.about}</p>
 
                        {this.props.currentUser && this.props.currentUser.id === this.state.host.id ?
                        <div><Button onClick={this.switchEditActivityState} >Edit Activity</Button>  <Button onClick={this.deleteActivity}>Delete Activity</Button></div> : null
                            // <div><button onClick={this.switchEditActivityState}>Edit Activity</button> <button onClick={this.deleteActivity}>Delete Activity</button></div> : null
                        }
                    
                      
                    
                    

                         */
  